#heading {
  text-align: left;
  color: navy;
  font-size: 3rem;
  width: 60%;
}
body {
  background: rgb(237, 251, 255);
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
  background: url('boat.jpg');
  background-size: cover;
}

#hello {
  text-align: left;
  border-radius: 8px;
}
label {
  font-size: 1.4rem;
  color: navy;
  font-weight: 600;
}
iframe {
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
#form {
  width: 500px;
}
.left-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 80vh;
  z-index: 5;
}
.right-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  min-height: 80vh;
  z-index: 5;
}
#hello-container {
  text-align: center;
  color: #fff;
}
#map-container {
  text-align: right;
}
#location {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}
#hola {
  background-color: white;
  opacity: 0.7;
  color: navy;
  padding: 6px;
  border-radius: 12px;
  text-decoration: underline;
  font-size: 4rem;
  margin: 15px;
  display: block;
}
