#heading {
  text-align: left;
  color: navy;
  font-size: 3rem;
  width: 60%;
}
body {
  background: rgb(237, 251, 255);
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
}
#hello {
  text-align: left;
  border-radius: 8px;
}
label {
  font-size: 1.4rem;
}
iframe {
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
#form {
  width: 500px;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 80vh;
}
.right-container {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  min-height: 80vh;
}
#hello-container {
  text-align: center;
}
#map-container {
  text-align: right;
}
#hola {
  background-color: white;
  opacity: 0.7;
  color: navy;
  padding: 6px;
  border-radius: 12px;
}
